<!-- <app-feature-cards></app-feature-cards>


<app-home></app-home>

<app-login></app-login>

<app-register></app-register>

<app-sidenav></app-sidenav>

<div class="d-flex container1">
  <div class="al-left">
      <app-sidenav></app-sidenav>
  </div>
    <div class="al-right">
        <div class="container">
          <app-home></app-home>
          <app-home></app-home>

<app-login></app-login>

<app-register></app-register>
        </div>
    </div>
</div> -->



<app-sidenav></app-sidenav>


