<div class="mt-16 ">
</div>
<div class="flex m-3 items-center justify-center p-4 ">
  <div class="max-w-sm w-full m-6 p-6 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div>
      <!-- Vertical Line -->
       <div class="relative">

       </div>
      <div class="flex items-center justify-center mb-1">
       <div class="w-[160px] items-center justify-center flex">
        <div class="text-center ">
          <h4 class="uppercase font-bold text-home-bg">Expenses so far</h4>
          <p class="text-featurech-bg">-$500000</p>
        </div>
       </div>
        <div class="h-20 w-[1px] bg-featurech-bg"></div>
        <div class="w-[160px] items-center justify-center flex">
          <div class="text-center">
            <h4 class="uppercase font-bold text-home-bg">Income so far</h4>
            <p class="text-featurech-bg">-$500000</p>
          </div>
         </div>
      </div>

      <!-- Horizontal Line -->
      <div class="flex flex-col items-center justify-center">

          <div class="w-full  h-[2px] bg-featurech-bg"></div>
          <div class="w-[160px] mt-4 items-center justify-center flex">
            <div class="text-center">
              <h4 class="uppercase font-bold text-home-bg">Total Balance</h4>
              <p class="text-featurech-bg">-$500000</p>
            </div>

        </div>

      </div>
    </div>
  </div>
</div>


<!-- Accounts -->

<div class="p-4">
<!-- Grid wrapper -->
<div class="grid lg:m-10  gap-4  grid-cols-1 lg:grid-cols-3 md:grid-cols-2">
  <!-- Columns -->
  <div>
    <div
      class="m-1 lg:w-[350px] p-4 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <div class="">
        <div class=" mt-2 items-center justify-center flex">
          <button (click)="openAddActDialogBox()" type="button"
            class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Create
            Account</button>
        </div>

      </div>


    </div>
  </div>

  <!-- <div>
    <div class="m-1 lg:w-[350px] p-4 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex">
        <div>
          <div class="w-16 h-16 bg-red-500 border border-home-bg rounded-lg">
          </div>
        </div>
        <div class="ml-6">

          <h2 class="uppercase text-home-bg font-bold">Banu</h2>
          <p class="text-home-bg">balance : $ 7874743</p>

        </div>
      </div>

      <div class=" mt-2 items-center justify-end flex">
        <button  type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
         <fa-icon [icon]="faEye"></fa-icon>  </button>
        <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon [icon]="faTrash"></fa-icon></button>
          <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon  [icon]="faPenTOSquare"></fa-icon></button>
      </div>

    </div>
  </div>

  <div>
    <div class="m-1 lg:w-[350px] p-4 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex">
        <div>
          <div class="w-16 h-16 bg-red-500 border border-home-bg rounded-lg">
          </div>
        </div>
        <div class="ml-6">

          <h2 class="uppercase text-home-bg font-bold">Banu</h2>
          <p class="text-home-bg">balance : $ 7874743</p>

        </div>
      </div>

      <div class=" mt-2 items-center justify-end flex">
        <button  type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
         <fa-icon [icon]="faEye"></fa-icon>  </button>
        <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon [icon]="faTrash"></fa-icon></button>
          <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon  [icon]="faPenTOSquare"></fa-icon></button>
      </div>

    </div>
  </div>

  <div>
    <div class="m-1 lg:w-[350px] p-4 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex">
        <div>
          <div class="w-16 h-16 bg-red-500 border border-home-bg rounded-lg">
          </div>
        </div>
        <div class="ml-6">

          <h2 class="uppercase text-home-bg font-bold">Banu</h2>
          <p class="text-home-bg">balance : $ 7874743</p>

        </div>
      </div>
      <div class=" mt-2 items-center justify-end flex">
        <button  type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
         <fa-icon [icon]="faEye"></fa-icon>  </button>
        <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon [icon]="faTrash"></fa-icon></button>
          <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon  [icon]="faPenTOSquare"></fa-icon></button>
      </div>
    </div>
  </div>

  <div>
    <div class="m-1 lg:w-[350px] p-4 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex">
        <div>
          <div class="w-16 h-16 bg-red-500 border border-home-bg rounded-lg">
          </div>
        </div>
        <div class="ml-6">

          <h2 class="uppercase text-home-bg font-bold">Banu</h2>
          <p class="text-home-bg">balance : $ 7874743</p>

        </div>
      </div>

      <div class=" mt-2 items-center justify-end flex">
        <button  type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
         <fa-icon [icon]="faEye"></fa-icon>  </button>
        <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon [icon]="faTrash"></fa-icon></button>
          <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon  [icon]="faPenTOSquare"></fa-icon></button>
      </div>
    </div>
  </div>

  <div>
    <div class="m-1 lg:w-[350px] p-4 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex">
        <div>
          <div class="w-16 h-16 bg-red-500 border border-home-bg rounded-lg">
          </div>
        </div>
        <div class="ml-6">

          <h2 class="uppercase text-home-bg font-bold">Banu</h2>
          <p class="text-home-bg">balance : $ 7874743</p>

        </div>
      </div>
      <div class=" mt-2 items-center justify-end flex">
        <button  type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
         <fa-icon [icon]="faEye"></fa-icon>  </button>
        <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon [icon]="faTrash"></fa-icon></button>
          <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon  [icon]="faPenTOSquare"></fa-icon></button>
      </div>

    </div>
  </div>

  <div>
    <div class="m-1 lg:w-[350px] p-4 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex">
        <div>
          <div class="w-16 h-16 bg-red-500 border border-home-bg rounded-lg">
          </div>
        </div>
        <div class="ml-6">

          <h2 class="uppercase text-home-bg font-bold">Banu</h2>
          <p class="text-home-bg">balance : $ 7874743</p>

        </div>
      </div>
      <div class=" mt-2 items-center justify-end flex">
        <button  type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
         <fa-icon [icon]="faEye"></fa-icon>  </button>
        <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon [icon]="faTrash"></fa-icon></button>
          <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
          <fa-icon  [icon]="faPenTOSquare"></fa-icon></button>
      </div>

    </div>
  </div>

  <div>
    <div class="m-1 lg:w-[350px] p-4 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex">
        <div>
          <div class="w-16 h-16 bg-red-500 border border-home-bg rounded-lg">
          </div>
        </div>
        <div class="ml-6">

          <h2 class="uppercase text-home-bg font-bold">Banu</h2>
          <p class="text-home-bg">balance : $ 7874743</p>

        </div>
      </div>
      <div class=" mt-2 items-center justify-end flex">
        <button (click)="openViewActDetailesDialogBox()"  type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" title="View account details">
         <fa-icon [icon]="faEye"></fa-icon>  </button>
        <button type="button"
          class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" title="Delete">
          <fa-icon [icon]="faTrash"></fa-icon></button>
          <button (click)="openAddActDialogBox()"  type="button"
          class="  text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" title="Edit account details">
          <fa-icon  [icon]="faPenTOSquare"></fa-icon></button>
      </div>
    </div>
  </div> -->


  @for (account of allAccounts; track $index) {
    <div>
      <div class="m-1 lg:w-[350px] p-4 bg-white border border-home-bg rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex justify-between">

          <div class="ml-6">

            <h2 class="uppercase text-home-bg font-bold">{{account.accountName }}</h2>
            <p class="text-home-bg">balance : $ {{ account.balance }}</p>

          </div>

        <div class="  items-center justify-end flex">
          <button (click)="openViewActDetailesDialogBox()"  type="button"
            class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" title="View account details">
           <fa-icon [icon]="faEye"></fa-icon>  </button>
          <button type="button"
            class=" text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" title="Delete">
            <fa-icon [icon]="faTrash"></fa-icon></button>
            <button (click)="openAddActDialogBox()"  type="button"
            class="  text-white bg-home-bg hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2 px-3 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" title="Edit account details">
            <fa-icon  [icon]="faPenTOSquare"></fa-icon></button>
        </div>

      </div>
      </div>
    </div>
  }

  <!-- Columns -->
</div>
<!-- Grid wrapper -->
</div>


@if (openAddActDialog) {
  <app-add-account (closeActDialog)="closeActDialogBox($event)"></app-add-account>
}


@if (openViewActDetailesDialog ) {
  <app-view-account-detailes (closeActDialog)="closeViewActDetailesDialog($event)"></app-view-account-detailes>
}

